In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('data/2000-2010/dengue_2001_dataset.csv', sep = ',', encoding='cp1252')
data = data.dropna(axis = 1, how = 'all')
data.head(5)

/usr/local/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (7,11,15,17,25,27,29,31,43,51,63,64,66,67,70,71,73,74,75,77,78,79,80,97,107,108,110) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,ID_MUNICIP,ID_UNIDADE,NU_NOTIFIC,DT_NOTIFIC,CS_RACA,CS_ESCOLAR,NU_ANO,SEM_NOT,SG_UF_NOT,ID_REGIONA,...,CON_FHD,CON_INF_MU,CON_INF_UF,CON_INF_PA,CON_DOENCA,CON_EVOLUC,CON_DT_OBI,CON_DT_ENC,NDUPLIC,NU_LOTE
0,1200013,2001071,7876,05/02/01,NaN,3.0,2001,62001,AC,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22/07/02,NaN,2006011.0
1,1200385,2000997,8413,09/01/01,4.0,2.0,2001,22001,AC,NaN,...,NaN,1200401.0,AC,800.0,NaN,1.0,NaN,24/07/02,NaN,2006013.0
2,1200385,2000997,8424,12/02/01,4.0,4.0,2001,72001,AC,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24/07/02,NaN,2006013.0
3,1200385,2000997,8425,15/02/01,4.0,3.0,2001,72001,AC,NaN,...,NaN,1200385.0,AC,800.0,NaN,1.0,NaN,24/07/02,NaN,2006013.0
4,1200385,2000997,8433,21/02/01,4.0,6.0,2001,82001,AC,NaN,...,NaN,NaN,NaN,800.0,NaN,0.0,NaN,24/07/02,NaN,2006013.0

In [ ]:
categorical_features = [
    'CS_RACA',
    'CS_ESCOLAR',
    'SG_UF_NOT',
    'CS_SEXO',
    'ID_BAIRRO',
    'ID_MN_RESI',
    'CS_ZONA',
    'SG_UF',
    'ID_PAIS',
    'DENGUE',
    'VACINADO',
    'FEBRE',
    'LACO',
    'CEFALEIA',
    'EXANTEMA',
    'DOR',
    'PROSTACAO',
    'MIALGIA',
    'NAUSEAS',
    'ARTRALGIA',
    'DIARREIA',
    'OUTROS',
    'EPISTAXE',
    'PETEQUIAS',
    'GENGIVO',
    'METRO',
    'HEMATURA',
    'SANGRAM',
    'OUTROS_M',
    'ASCITE',
    'PLEURAL',
    'PERICARDI',
    'ABDOMINAL',
    'HEPATO',
    'MIOCARDI',
    'HIPOTENSAO',
    'CHOQUE',
    'MANIFESTA',
    'INSUFICIEN',
    'OUTRO_S',
    'HOSPITALIZ',
    'UF',
    'S1_IGM',
    'S1_IGG',
    'MATERIAL',
    'SORO1',
    'SORO2',
    'TECIDOS',
    'HISTOPA',
    'IMUNOH',
    'RESUL_PCR',
    'AMOS_OUT',
    'RESUL_OUT',
    'CON_CLASSI',
    'CON_CRITER',
    'CON_INF_UF',
    'CON_INF_PA',
    'CON_DOENCA',
    'CON_EVOLUC',
]

for feature in categorical_features:
    pd[feature].astype('categorical')